/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: #0e0d0d;
}

/* estilos de mobile */

header{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

/* estilos de main */

main{
    margin: 0px 30px; /* si escribes 2 valores, el primero es top bottom y el segundo el right y left */
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr; /* fr = fracciones */
    grid-template-rows:repeat(3, 25%); /* repeat(cantidad de rep. , el atributo */
    align-content: center;
    row-gap: 10px;
}

main .img-dos, main .img-cinco{
    display: none;
}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* estilos de footer */

footer{
    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
}

/* estilos de tablet mq tablet */

@media screen and (min-width: 768px){ /* solo se debe escribir lo que hay que cambiar, lo demas ya está declarado antes */
    body{
        font-size: 1.5rem;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10px;
    }

    main .img-cuatro{
        grid-column: span 2;
    }
    }

/* estilos de desktop */

@media screen and (min-width: 1024px){
   main .img-dos, main .img-cinco{
    display: block;
   }
   main{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30%) 15%;
   }

   main .img-uno, main .img-tres{
    grid-row: span 2;
   }

   main .img-dos, main .img-cuatro{
    grid-column: span 1;
   }
   main .img-cinco{
    grid-column: span 3;
   }
}